<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codreserva %><br>
    <%= f.text_field :codreserva %>
  </div>
  <div class="field">
    <%= f.label :codcliente %><br>
    <%= f.text_field :codcliente %>
  </div>
  <div class="field">
    <%= f.label :codlocal %><br>
    <%= f.text_field :codlocal %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
