<p id="notice"><%= notice %></p>

<h1>Listing Livingrooms</h1>

<table>
  <thead>
    <tr>
      <th>Codsala</th>
      <th>Codlocal</th>
      <th>Codcliente</th>
      <th>Descripcion</th>
      <th>Capacidad</th>
      <th>Precioconsumo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @livingrooms.each do |livingroom| %>
      <tr>
        <td><%= livingroom.codsala %></td>
        <td><%= livingroom.codlocal %></td>
        <td><%= livingroom.codcliente %></td>
        <td><%= livingroom.descripcion %></td>
        <td><%= livingroom.capacidad %></td>
        <td><%= livingroom.precioconsumo %></td>
        <td><%= link_to 'Show', livingroom %></td>
        <td><%= link_to 'Edit', edit_livingroom_path(livingroom) %></td>
        <td><%= link_to 'Destroy', livingroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Livingroom', new_livingroom_path %>
