<p id="notice"><%= notice %></p>

<p>
  <strong>Codsala:</strong>
  <%= @livingroom.codsala %>
</p>

<p>
  <strong>Codlocal:</strong>
  <%= @livingroom.codlocal %>
</p>

<p>
  <strong>Codcliente:</strong>
  <%= @livingroom.codcliente %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @livingroom.descripcion %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @livingroom.capacidad %>
</p>

<p>
  <strong>Precioconsumo:</strong>
  <%= @livingroom.precioconsumo %>
</p>

<%= link_to 'Edit', edit_livingroom_path(@livingroom) %> |
<%= link_to 'Back', livingrooms_path %>
